@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "LoginCompleted";
}

<h1 class="text-center display-4 m-5">Login completed!</h1>

<div>
    <hr />
    <h1 class="text-center">Welkom @Model.Email</h1>
    <hr />
</div>

