@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome</h1>
    <a href="https://www.pxl.be/"><img src="~/images/PXL.jpeg" /></a>
</div>              
